footer {
    .footer-nav {
        list-style: none;
        @include media-breakpoint-up(md) {
            display: flex;
        }
        li {
            list-style-type: none;
        }
    }

    .contact-footer {
        @include media-breakpoint-up(md) {
            display: flex;
            align-items: center;
        }
    }

    .list-social {
        width: 100px;
        img {
            width: 30px;
            height: 30px;
        }
    }
}